.padding-right {
    padding-right: 200px;
}

.margin-nav {
    margin-right: 70px;
}

.logo-text {
    font-size: 32px;
    padding-left: 90px;
}

.nav-text {
    font-size: 18px;
}

.padding-top {
    padding-top: 100px;
}

.small-text {
    font-size: 24px;
}

.big-text {
    font-size: 40px;
}

.medium-text {
    font-size: 25px;
}
.margin-for-block {
    margin-right: 550px;
}

.image-size {
    width: 720px;
}

.set-input-text {
    font-size: 25px;
    position: relative;
    bottom: 30px;
}

.icon-input-pos {
    position: relative;
    top: 20px;
}